@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/* This is having the css code for the page: - PasswordVerification.php, ResetPassword.php, AccountDelete.php, ManagePassword.php */

.AccountDiv * {
	box-sizing: border-box;
}

.AccountDiv {
	position: relative;
	display: flex;
    height: 100vh;
    align-items: center;
	flex-direction: column;

}

.AccountDiv h1 {
    font-weight: bold;
    border-bottom: 2px solid #d6d6d6;
    font-size: 3em;
    line-height: 2;
    margin-bottom: 3em;
	
}
.changemind{
    color: #555;
}
.AccountForm label{
	font-size: 1.3em;
}

.AccountForm p{
    margin-top: 1em;
    font-size: 1.3em;
    margin-bottom: 1em;
    
}

.AccountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 0.8em;
    /* width: 800px; */
    height: 100vh auto;
    /* max-width: 100%; */
    padding: 1em;
}
.error {
	color: white;
	font-size: 1em;
	display: block;
    padding: 0.4em;
    background-color: black;
    border: 0.1em solid red;
}
.hidden {
	display: none;
}
input {
    border: none;
	background-color: #eee;
	padding: 1em 2em;
	margin: 0.5em 0;
    margin-bottom: 2em;
	width: 100%;
}
label{
	font-size: 1.2em;
}

.AccountRecord{
    
    width: 100%;

}
.AccountRecord>*{
    margin-top: 1em;
    margin-bottom: 3em;
}
button{
    background-color: black;
    color: ghostwhite;
    padding: 1em 2em;
    cursor: pointer;
    border: 1px solid black;
    margin: 0.5em 0;
    text-transform: uppercase;
}
button:hover{
    background-color: ghostwhite;
    color: black;
}
.changemind p a:hover{
	color: crimson;
}

.changemind p a{
	text-decoration: none;
}
  
.AccountRecord p{
    color: red;
    border-bottom: 0.1em solid #d2d2d2;
    text-align: center;
}

.checkbox{
    width: 50px;
}

.checkboxToDelete{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}